#parent{
    margin-top: 10px;
    /* border:5px solid; */
    height:85vh;
    display:flex;
    gap:8px;
}
#child1 , #child2{
    height:inherit;
    flex:1;
}
#child1{
    background-image:url("../images/child1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color:black;
    font-size: 25px;
    font-weight:200;
    text-align: center;
    margin-top: 25px;  
}
#child2{
    background-image:url("../images/watch.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color:black;
    text-align: center;
    font-size:25px;
    font-weight:200;
    text-align: center;
    margin-top: 25px;
}
#parent  a{
    border: 2px solid #0071e3;
    padding: 10px 20px;
    background-color: #0071e3;
    text-decoration: none;
    border-radius: 50px;
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    position: relative;
    top: 20px;
    left:0;
}


/* parent1 */
#parent1{
    margin-top: 10px;
    /* border:5px solid; */
    height:85vh;
    display:flex;
    gap:8px;
}
#child3 , #child4{
    height:inherit;
    flex:1;
}
#child3{
    background-image:url("../images/macbook.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color:black;
    font-size: 25px;
    font-weight:200;
    text-align: center;
    margin-top: 25px;  
}
#child4{
    background-image:url("../images/tradein-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color:black;
    font-size: 25px;
    font-weight:200;
    text-align: center;
    margin-top: 25px;  
}
#parent1  a{
    border: 2px solid #0071e3;
    padding: 10px 20px;
    background-color: #0071e3;
    text-decoration: none;
    border-radius: 50px;
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    position: relative;
    top: 20px;
    left:0;
}


