#sub-section1{
    /* border:2px solid; */
    height: 85vh;
    background-image: url(../images/image.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#sub-section1 div{
    /* border: 2px solid blue; */
    width: 100%;
   /* display:flex; */
    align-items:center;
    flex-direction: column;
    justify-content: center;
    height: inherit;
    /* padding-top:80px; */
    /* position:relative; */
    /* top:10%; */
    /* right:38%; */
}
#sub-section1 div h2{
    font-size: 56px;
    font-weight: 600;
    color:#fff;
    text-align: center;
    margin-top: 30px;
    
}
#sub-section1 div p{
    font-size: 27px;
    font-weight: 400;
    color:#fff;
    text-align: center;
}
#sub-section1 a{
    border: 2px solid #0071e3;
    padding: 10px 20px;
    /* margin: auto; */
    /* border: none; */
    background-color: #0071e3;
    text-decoration: none;
    border-radius: 50px;
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    position: relative;
    top: 20px;
    left: 43%;

    /* display:flex; */
    justify-content: center;
}





